.adminDashboard {
    text-align: center;
}

.adminDashboard .profileSection {
    margin-bottom: 60px;
}


.adminDashboard h1 {
    margin: 0;
    padding: 0;
}

.adminDashboard h2 {
    font-size: 1.3rem;
    font-weight: 600;
}

.thresholdSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.thresholdSection input {
    max-width: 40px;
    font-size: 1rem;
    text-align: right;
    
}

.thresholdSection button {
    background-color: 555;
    border: 1px solid 555;
}


.bottomContainer {
    padding-top: 1px;
    padding-bottom: 25px;
    background-color: rgba(147, 112, 216, 0.133);
    margin-left: -20px;
    margin-right: -20px;
}

.listingContainer {
    display: flex;
    justify-content: center;
}

.listingContainer button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: underline;
    cursor: pointer;
}

.message {
    margin-bottom: 50px;
    font-size: 0.9rem;
    color: green;
}

.adminLogo {
    margin-top: 30px;
    color: rgb(73, 52, 115);
}

.notFoundMessage {
    width: 200%;
    font-size: 0.9rem;
    text-align: center;
}



