/* Main content container */
.contentContainer {
    margin-left: 270px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
  
  }
  

  @media (max-width: 768px) {
    .contentContainer {
      margin-left: 0;
    }
  }


  * {
    font-family: monospace
  }



  html, body {
    margin: 0;
    padding: 0;
  }
  



  /* App.css */

.loginBackground {
  background-image: url('https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.registerBackground {
  background-image: url('https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.homeBackground {
  background: radial-gradient(circle, #ffffff, rgb(255, 255, 255)); 


}

.viewPetitionsBackground  {
  background-image: url('/purple.png');
  background-size:cover;
}

.createPetitionBackground {
  background-image: url('/purple3.png');
  background-size:cover;
}

hr {
  border: none;
  border-top: 40px solid rgba(147, 112, 216, 0.133);
  margin: 0 -20px;
}

  

  