.createContainer {
  height: 100vh;
}
.formContainer {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f7f7f7a6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;

  }

  
  /* Label and input styles */
  label {
    display: block;
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #000000;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding doesn't overflow */
    margin-bottom: 20px;
    resize: vertical; /* Allows textarea to be resized vertically */
    background-color: rgba(255, 255, 255, 0.734);
  }
  
  textarea {
    height: 150px;
    max-height: 400px; 
  }
  
  .formContainer button {
    background-color: rgb(105, 80, 156);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
  }
  
  .formContainer button:hover {
    background-color: #5f2c8f; 
  }
  
  .success, .error {
    text-align: center;
    font-size: 0.9rem;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  
  .error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
  
  @media (max-width: 768px) {
    .formContainer {
      padding: 20px;
      margin-top: 30px;
    }
  
    button {
      font-size: 0.9rem;
    }
  }
  