
.petitionItem {
    background: #f9f9f9;
    border: 2px solid mediumpurple;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
  }


  .userIcon {
  vertical-align: text-top;
  color: rgb(83, 63, 122);
  }

  .bottomItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

  }

.bottomItems p {
  margin: 0;

}

  .topItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

  }

  .signiture {
    display: flex;
    gap: 5px;
  }


  .petitionItem:hover {
    transform: translateY(-5px);
  }
  
  .petitionItem h3 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
  }
  
    .content {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
  }


  .status {
    background-color: mediumpurple;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    color: white;
    font-size: 0.9rem;
    border-radius: 0 0 3px 3px;
}

  
  
  .petitionItem .signitureCount {
    font-weight: 600;
  }
  
  .signButton {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signButton:hover {
    background-color: #218838;
  }
  
  .signedButton {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 5px 10px;
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
   
  }
  

  .closedPetition{
    border-color: #555;
  }

  .closedStatus {
    background-color: #555;
  }


  .responseButton {
    margin: 10px;
  }

  .userResponse {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
  }


 .userResponse p {
  margin: 5px;
 }

 .userResponse .headerText {
  font-weight: 500;
  text-align: center;
  margin: 5px;
 }