
  .petitionList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
  }
  
  .viewContainer h1 {
    margin-bottom:30;
  }

  .viewContainer p {
    font-size: 0.85rem;
  }


  
  